body {
  margin: 0;
  font-family: Helvetica;
}
.navbar {
  position: sticky;
  top:0px;
  overflow: hidden;
  background-color: #202020;
  z-index: 10;
}
.main {
  height: 2830px;
}
.bgimage {
  height: 720px;
  background-image: url(images/mid_century_modern_home.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  filter: blur(6px);
}
.reglog button {
  float: right;
  background-color: #252525;
  color: #f2f2f2;
  width: 110px;
  height: 60px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0;
  border: none;
}
.home {
  float: left;
  background-image: url(images/betterlogo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #202020;
  width: 110px;
  height: 60px;
  border: none;
}
.home:hover {
  background-color: #ae8c02;
}
.navbuttonleft button {
  float: left;
  background-color: #202020;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0px;
  width: 110px;
  height: 60px;
  border: none;
}
.navbar a:hover , .navbar button:hover {
  background-color: #ae8c02;
}
.container {
  width: 100%;
  position: absolute;
  top: 320px;
  margin-bottom: 320px;
  color: #f2f2f2 ;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.4);
}
.vertical-center {
  text-align: center;
}
h1 {
  font-size: 50px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 10px;
}
.pcon {
  size: 60px;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}
p {
  font-size: 20px;
  font-weight: lighter;
}
.row1 {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
.row2 {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
.column {
  float: left;
  width: 33.2%;
  height: 600px;
  font-size: 50px;
  font-weight: bold;
  color: #f2f2f2;
  background-color: #404040;
  border: 1px solid #404040;

}

.c3 {
  float: right;
}
.c2 {
  float: none;
  margin: auto;
}
.c6 {
  float: right;
}
.c5 {
  float: none;
  margin: auto;
}
li {
  text-align: start;
}
h4 {
  margin: 0;
}
footer {
  padding: 20px;
  height: 100px;
  background-color: #202020;
  border: none;
  color: #f2f2f2;
  text-align: center;
}
.bed1 {
  height: 100%;
  background-image: url(/images/bed.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}
.bedtext1 {
  background-color: #404040aa;
  position: static;
  margin-top: -600px;
  height: 160px;
}
.bed2 {
  height: 100%;
  background-image: url(/images/bed2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}
.bedtext2 {
  background-color: #404040aa;
  position: static;
  margin-top: -600px;
  height: 160px;
}
.liv1 {
  height: 100%;
  background-image: url(/images/liv.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}
.livtext {
  background-color: #404040aa;
  position: static;
  margin-top: -600px;
  height: 160px;
}
.bullet {
  font-size: 20px;
  font-weight: lighter;
}
.bp {
  width: 100%;
}
.kit {
  height: 100%;
  background-image: url(/images/kit.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}
.kittext {
  background-color: #404040aa;
  position: static;
  margin-top: -600px;
  height: 160px;
}
.pool {
  height: 100%;
  background-image: url(/images/pool.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}
.pooltext {
  background-color: #404040aa;
  position: static;
  margin-top: -600px;
  height: 160px;
}
.gar {
  height: 100%;
  background-image: url(/images/gar.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}
.gartext {
  background-color: #404040aa;
  position: static;
  margin-top: -600px;
  height: 160px;
}








* {box-sizing: border-box}
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #202020;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #101010;
  outline: none;
  color: #f2f2f2;
}
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
button:hover {
  opacity:1;
}
.signup {
  width: 100px;
}
.modcon {
  padding: 20px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 11;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d60;
  padding-top: 50px;
}
.modalcontent {
  background-color: #404040;
  color: #f2f2f2;
  margin: 5% auto 15%;
  border: 1px solid #888;
  width: 40%;
}
.textsignup {
  text-align: center;
}
hr {
  border: 1px solid #606060;
  margin-bottom: 25px;
}
.close {
  position: absolute;
  right: 400px;
  top: 35x;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
@media screen and (max-width: 300px) {
  .signupbtn {
    width: 100%;

  }
}