body {
  margin: 0;
  font-family: Helvetica;
}
.navbar {
  position: sticky;
  top:0px;
  overflow: hidden;
  background-color: #202020;
  z-index: 10;
}
.main {
  height: 1500px;
}
.bgimage {
  height: 720px;
  background-image: url(images/mid_century_modern_home.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
  filter: blur(6px);
}
.reglog a {
  float: right;
  background-color: #252525;
  color: #f2f2f2;
  width: 110px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0;
}
.home {
  float: left;
  background-image: url(images/betterlogo.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #202020;
  width: 110px;
  height: 60px;
  border: none;
}
.home:hover {
  background-color: #ae8c02;
}
.navbuttonleft a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0px;
  width: 110px;
  height: 30px;
}
.navbar a:hover {
  background-color: #ae8c02;
}
.container {
  width: 100%;
  position: absolute;
  top: 320px;
  margin-bottom: 320px;
  color: #f2f2f2 ;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.4);
}
.vertical-center {
  text-align: center;
}
h1 {
  font-size: 50px;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 10px;
}
.pcon {
  size: 60px;
  position: relative;
  margin-top: 0;
  margin-bottom: 20px;
}
p {
  font-size: 20px;
  font-weight: lighter;
}
.rooms {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
}
.column {
  float: left;
  width: 33.2%;
  height: 600px;
  font-size: 50px;
  font-weight: bold;
  color: #f2f2f2;
  background-color: #404040;
  border: 1px solid #404040;

}

.c3 {
  float: right;
}
.c2 {
  float: none;
  margin: auto;
}
h4 {
  margin: 0;
}
footer {
  padding: 20px;
  height: 50px;
  background-color: #202020;
  border: none;
  padding: auto;
  color: #f2f2f2;
  text-align: center;
}
.bed1 {
  height: 100%;
  background-image: url(/images/bed.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}
.bedtext1 {
  background-color: #404040aa;
  position: static;
  margin-top: -600px;
  height: 200px;
}
.bed2 {
  height: 100%;
  background-image: url(/images/bed2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}
.bedtext2 {
  background-color: #404040aa;
  position: static;
  margin-top: -600px;
  height: 200px;
}
.kit1 {
  height: 100%;
  background-image: url(/images/bed.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: static;
}
.kittext {
  background-color: #404040aa;
  position: static;
  margin-top: -600px;
  height: 200px;
}
.bullet {
  font-size: 20px;
  font-weight: lighter;
}